@model IEnumerable<InformacioniSistemTeretane.Models.Lokacija>

<h1>Lista lokacija</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova lokacija</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Naziv)</th>
            <th>@Html.DisplayNameFor(m => m.First().Adresa)</th>
            <th>@Html.DisplayNameFor(m => m.First().KontaktTelefon)</th>
            <th>@Html.DisplayNameFor(m => m.First().Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Naziv)</td>
                <td>@Html.DisplayFor(m => item.Adresa)</td>
                <td>@Html.DisplayFor(m => item.KontaktTelefon)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>