@model InformacioniSistemTeretane.Models.Takmicar

<h1>Obriši takmičara</h1>
<h3>Jeste li sigurni?</h3>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KlijentId)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime (@Model.KlijentId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisciplinaId)</dt>
    <dd class="col-sm-9">@Model.Disciplina?.Naziv (@Model.DisciplinaId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Rezultat)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Rezultat)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Pozicija)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Pozicija)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
