@model InformacioniSistemTeretane.Models.Takmicar

<h1>Detalji takmičara</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KlijentId)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime (@Model.KlijentId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisciplinaId)</dt>
    <dd class="col-sm-9">@Model.Disciplina?.Naziv (@Model.DisciplinaId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Rezultat)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Rezultat)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Pozicija)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Pozicija)</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
