@model InformacioniSistemTeretane.Models.Disciplina

<h1>Obriši disciplinu</h1>
<h3>Jeste li sigurni?</h3>

<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.TakmicenjeId)</dt>
        <dd class="col-sm-8">@Model.Takmicenje?.Naziv (@Model.TakmicenjeId)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Naziv)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(m => m.Naziv)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(m => m.MaxUcesnika)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(m => m.MaxUcesnika)</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
