@model InformacioniSistemTeretane.Models.Disciplina

<h1>Detalji discipline</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TakmicenjeId)</dt>
    <dd class="col-sm-9">@Model.Takmicenje?.Naziv (@Model.TakmicenjeId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Naziv)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Naziv)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Opis)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Opis)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.MaxUcesnika)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.MaxUcesnika)</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</p>
