@model IEnumerable<InformacioniSistemTeretane.Models.Disciplina>
@using InformacioniSistemTeretane.Models

<h1>Discipline</h1>
<p><a asp-action="Create" class="btn btn-primary">Nova disciplina</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((Disciplina m) => m.TakmicenjeId)</th>
            <th>Takmičenje</th>
            <th>@Html.DisplayNameFor((Disciplina m) => m.Naziv)</th>
            <th>@Html.DisplayNameFor((Disciplina m) => m.MaxUcesnika)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TakmicenjeId</td>
                <td>@item.Takmicenje?.Naziv</td>
                <td>@item.Naziv</td>
                <td>@item.MaxUcesnika</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
