@model InformacioniSistemTeretane.Models.Klijent

<h1>Obriši klijenta</h1>
<h3>Jeste li sigurni?</h3>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Ime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Ime)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Prezime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Prezime)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DatumRodjenja)</dt>
    <dd class="col-sm-9">@Model.DatumRodjenja.ToShortDateString()</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.UserId)</dt>
    <dd class="col-sm-9">@Model.User?.UserName (@Model.UserId)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
