@model InformacioniSistemTeretane.Models.Klijent

<h1>Detalji klijenta</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Ime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Ime)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Prezime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Prezime)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DatumRodjenja)</dt>
    <dd class="col-sm-9">@Model.DatumRodjenja.ToShortDateString()</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.UserId)</dt>
    <dd class="col-sm-9">@Model.User?.UserName (@Model.UserId)</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</p>
