@model IEnumerable<InformacioniSistemTeretane.Models.Klijent>
@using InformacioniSistemTeretane.Models

<h1>Klijenti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novi klijent</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((Klijent m) => m.Ime)</th>
            <th>@Html.DisplayNameFor((Klijent m) => m.Prezime)</th>
            <th>@Html.DisplayNameFor((Klijent m) => m.DatumRodjenja)</th>
            <th>@Html.DisplayNameFor((Klijent m) => m.UserId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mi => item.Ime)</td>
                <td>@Html.DisplayFor(mi => item.Prezime)</td>
                <td>@item.DatumRodjenja.ToShortDateString()</td>
                <td>@item.User?.UserName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
