@model IEnumerable<InformacioniSistemTeretane.Models.Takmicenje>

<h1>Lista takmičenja</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Novi unos</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Naziv)</th>
            <th>@Html.DisplayNameFor(m => m.First().Datum)</th>
            <th>@Html.DisplayNameFor(m => m.First().LokacijaId)</th>
            <th>@Html.DisplayNameFor(m => m.First().Kotizacija)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Datum.ToShortDateString()</td>
                <td>@item.Lokacija?.Naziv</td>
                <td>@item.Kotizacija.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
