@model InformacioniSistemTeretane.Models.Trening

<h1>Detalji treninga</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Naziv)</dt>
    <dd class="col-sm-9">@Model.Naziv</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Opis)</dt>
    <dd class="col-sm-9">@Model.Opis</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.VrstaTreninga)</dt>
    <dd class="col-sm-9">@Model.VrstaTreninga</dd>
</dl>

<p>
    @* Ako želimo, ovdje možemo dodati link na odgovarajući detaljni Edit za tu vrstu: *@
    @if (Model.VrstaTreninga == "Grupni")
    {
        <a asp-controller="GrupniTreninzi" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi grupni</a>
    }
    else if (Model.VrstaTreninga == "Personalni")
    {
        <a asp-controller="PersonalniTreninzi" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi personalni</a>
    }
    else if (Model.VrstaTreninga == "Probni")
    {
        <a asp-controller="ProbniTreninzi" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi probni</a>
    }

    <a asp-controller="Treninzi" asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
