@model IEnumerable<InformacioniSistemTeretane.Models.Trening>
@using InformacioniSistemTeretane.Models

<h1>Treninzi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((Trening t) => t.Naziv)</th>
            <th>@Html.DisplayNameFor((Trening t) => t.Opis)</th>
            <th>@Html.DisplayNameFor((Trening t) => t.VrstaTreninga)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Naziv</td>
                <td>@t.Opis</td>
                <td>@t.VrstaTreninga</td>
                <td>
                    <a asp-action="Details" asp-route-id="@t.Id">Detalji</a>
                </td>
            </tr>
        }
    </tbody>
</table>
