@model IEnumerable<InformacioniSistemTeretane.Models.LicencniProgram>
@using InformacioniSistemTeretane.Models

<h1>Licencni programi</h1>
<p><a asp-action="Create" class="btn btn-primary">Novi program</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((LicencniProgram m) => m.Naziv)</th>
            <th>@Html.DisplayNameFor((LicencniProgram m) => m.Opis)</th>
            <th>@Html.DisplayNameFor((LicencniProgram m) => m.TrajanjeDana)</th>
            <th>@Html.DisplayNameFor((LicencniProgram m) => m.Cijena)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mi => item.Naziv)</td>
                <td>@Html.DisplayFor(mi => item.Opis)</td>
                <td>@Html.DisplayFor(mi => item.TrajanjeDana)</td>
                <td>@Html.DisplayFor(mi => item.Cijena)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
