@model IEnumerable<InformacioniSistemTeretane.Models.ProbniTrening>
@using InformacioniSistemTeretane.Models

<h1>Probni treninzi</h1>
<p><a asp-action="Create" class="btn btn-primary">Novi probni trening</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((ProbniTrening m) => m.Naziv)</th>
            <th>@Html.DisplayNameFor((ProbniTrening m) => m.Klijent.Prezime)</th>
            <th>@Html.DisplayNameFor((ProbniTrening m) => m.Trener.Zaposlenik.Prezime)</th>
            <th>@Html.DisplayNameFor((ProbniTrening m) => m.Datum)</th>
            <th>@Html.DisplayNameFor((ProbniTrening m) => m.Ocjena)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Klijent?.Prezime, @item.Klijent?.Ime</td>
                <td>@item.Trener?.Zaposlenik?.Prezime, @item.Trener?.Zaposlenik?.Ime</td>
                <td>@item.Datum.ToShortDateString()</td>
                <td>@item.Ocjena</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
