@model InformacioniSistemTeretane.Models.Paket

<h1>Obriši paket</h1>
<h3>Jeste li sigurni?</h3>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Naziv)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Naziv)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Cijena)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Cijena)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TrajanjeDana)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TrajanjeDana)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
