@model InformacioniSistemTeretane.Models.Paket

<h1>Detalji paketa</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Naziv)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Naziv)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Opis)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Opis)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Cijena)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Cijena)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TrajanjeDana)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TrajanjeDana)</dd>
</dl>

<div class="mt-4">
    <h4>Uplate</h4>
    @if (Model.Uplate != null && Model.Uplate.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Datum uplate</th>
                    <th>Iznos</th>
                    <th>Klijent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model.Uplate)
                {
                    <tr>
                        <td>@u.DatumUplate.ToShortDateString()</td>
                        <td>@u.Iznos</td>
                        <td>@u.Klijent?.Prezime, @u.Klijent?.Ime</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nema uplate za ovaj paket.</p>
    }
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
