@model InformacioniSistemTeretane.Models.Licenca

<h1>Obriši licencu</h1>
<h3>Jeste li sigurni?</h3>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KlijentId)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime (@Model.KlijentId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ProgramId)</dt>
    <dd class="col-sm-9">@Model.Program?.Naziv (@Model.ProgramId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DatumIzdavanja)</dt>
    <dd class="col-sm-9">@Model.DatumIzdavanja.ToShortDateString()</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ValidnaDo)</dt>
    <dd class="col-sm-9">@Model.ValidnaDo.ToShortDateString()</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
