@model IEnumerable<InformacioniSistemTeretane.Models.Sala>

<h1>Lista sala</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova sala</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Naziv)</th>
            <th>@Html.DisplayNameFor(m => m.First().Kapacitet)</th>
            <th>Lokacija</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Naziv)</td>
                <td>@Html.DisplayFor(m => item.Kapacitet)</td>
                <td>@item.Lokacija?.Naziv</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>