@model InformacioniSistemTeretane.Models.ZakazaniGrupni

<h1>Detalji rezervacije</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GrupniTrening.Naziv)</dt>
    <dd class="col-sm-9">@Model.GrupniTrening?.Naziv</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Klijent.Prezime)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DatumPrijave)</dt>
    <dd class="col-sm-9">@Model.DatumPrijave.ToShortDateString()</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
