@model InformacioniSistemTeretane.Models.Uplata

<h1>Detalji uplate</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.KlijentId)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime (@Model.KlijentId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.PaketId)</dt>
    <dd class="col-sm-9">@Model.Paket?.Naziv (@Model.PaketId)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DatumUplate)</dt>
    <dd class="col-sm-9">@Model.DatumUplate.ToShortDateString()</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.NacinUplate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.NacinUplate)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Iznos)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Iznos)</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
