@model IEnumerable<InformacioniSistemTeretane.Models.Uplata>

@{
    ViewData["Title"] = "Uplate";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova uplata</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().KlijentId)</th>
            <th>@Html.DisplayNameFor(m => m.First().PaketId)</th>
            <th>@Html.DisplayNameFor(m => m.First().DatumUplate)</th>
            <th>@Html.DisplayNameFor(m => m.First().NacinUplate)</th>
            <th>@Html.DisplayNameFor(m => m.First().Iznos)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Klijent?.Prezime, @item.Klijent?.Ime</td>
                <td>@item.Paket?.Naziv</td>
                <td>@item.DatumUplate.ToShortDateString()</td>
                <td>@item.NacinUplate</td>
                <td>@item.Iznos.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
