@model IEnumerable<InformacioniSistemTeretane.Models.GrupniTrening>
@using InformacioniSistemTeretane.Models

<h1>Grupni treninzi</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Novi grupni trening</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.Naziv)</th>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.Sala.Naziv)</th>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.Trener.Zaposlenik.Prezime)</th>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.Datum)</th>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.Vrijeme)</th>
            <th>@Html.DisplayNameFor((GrupniTrening m) => m.MaxUcesnika)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Sala?.Naziv</td>
                <td>@item.Trener?.Zaposlenik?.Prezime</td>
                <td>@item.Datum.ToShortDateString()</td>
                <td>@item.Vrijeme.ToString(@"hh\:mm")</td>
                <td>@item.MaxUcesnika</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
