@model InformacioniSistemTeretane.Models.Igraonica

<h1>Detalji igraonice</h1>
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Naziv)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(m => m.Naziv)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Kapacitet)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(m => m.Kapacitet)</dd>
            <dt class="col-sm-4">Lokacija</dt>
            <dd class="col-sm-8">@Model.Lokacija?.Naziv</dd>
        </dl>
    </div>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>