@model InformacioniSistemTeretane.Models.PrijavljeniGrupni

<h1>Obriši prisustvo</h1>
<h3>Jeste li sigurni?</h3>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.GrupniTrening.Naziv)</dt>
    <dd class="col-sm-9">@Model.GrupniTrening?.Naziv</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Klijent.Prezime)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Prisutan)</dt>
    <dd class="col-sm-9">@Model.Prisutan</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.VrijemeDolaska)</dt>
    <dd class="col-sm-9">@Model.VrijemeDolaska.ToString("HH:mm")</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
