@model IEnumerable<InformacioniSistemTeretane.Models.PrijavljeniGrupni>

<h1>Prisustva na grupnim treninzima</h1>
<p><a asp-action="Create" class="btn btn-primary">Evidentiraj dolazak</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((PrijavljeniGrupni m) => m.GrupniTreningId)</th>
            <th>@Html.DisplayNameFor((PrijavljeniGrupni m) => m.KlijentId)</th>
            <th>@Html.DisplayNameFor((PrijavljeniGrupni m) => m.Prisutan)</th>
            <th>@Html.DisplayNameFor((PrijavljeniGrupni m) => m.VrijemeDolaska)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GrupniTrening?.Naziv</td>
                <td>@item.Klijent?.Prezime, @item.Klijent?.Ime</td>
                <td>@(item.Prisutan ? "Da" : "Ne")</td>
                <td>@item.VrijemeDolaska.ToString("HH:mm")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
