@model IEnumerable<InformacioniSistemTeretane.Models.PrijavljeniGrupni>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrupniTrening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klijent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prisutan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeDolaska)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrupniTrening.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klijent.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prisutan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeDolaska)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
