@model InformacioniSistemTeretane.Models.PersonalniTrening

<h1>Detalji personalnog treninga</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Naziv)</dt>
    <dd class="col-sm-9">@Model.Naziv</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Opis)</dt>
    <dd class="col-sm-9">@Model.Opis</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Klijent.Prezime)</dt>
    <dd class="col-sm-9">@Model.Klijent?.Prezime, @Model.Klijent?.Ime</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Trener.Zaposlenik.Prezime)</dt>
    <dd class="col-sm-9">@Model.Trener?.Zaposlenik?.Prezime, @Model.Trener?.Zaposlenik?.Ime</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Datum)</dt>
    <dd class="col-sm-9">@Model.Datum.ToShortDateString()</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Vrijeme)</dt>
    <dd class="col-sm-9">@Model.Vrijeme.ToString(@"hh\:mm")</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Napredak)</dt>
    <dd class="col-sm-9">@Model.Napredak</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</p>
