@model InformacioniSistemTeretane.Models.PersonalniTrening

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalniTrening</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trener)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trener.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klijent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klijent.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Napredak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Napredak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaTreninga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaTreninga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
