@model IEnumerable<InformacioniSistemTeretane.Models.Zaposlenik>

@{
    ViewData["Title"] = "Zaposlenici";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novi zaposlenik</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor((Zaposlenik m) => m.Ime)</th>
            <th>@Html.DisplayNameFor((Zaposlenik m) => m.Prezime)</th>
            <th>@Html.DisplayNameFor((Zaposlenik m) => m.Pozicija)</th>
            <th>@Html.DisplayNameFor((Zaposlenik m) => m.Telefon)</th>
            <th>@Html.DisplayNameFor((Zaposlenik m) => m.UserId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Ime)</td>
                <td>@Html.DisplayFor(_ => item.Prezime)</td>
                <td>@Html.DisplayFor(_ => item.Pozicija)</td>
                <td>@Html.DisplayFor(_ => item.Telefon)</td>
                <td>@item.User?.UserName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>   |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
