@model InformacioniSistemTeretane.Models.IgraonicaPonuda

<h1>Detalji ponude igraonice</h1>
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.IgraonicaId)</dt>
            <dd class="col-sm-8">@Model.Igraonica?.Naziv (@Model.IgraonicaId)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.OpisUsluge)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(m => m.OpisUsluge)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Cijena)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(m => m.Cijena)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Trajanje)</dt>
            <dd class="col-sm-8">@Model.Trajanje.ToString(@"hh\:mm")</dd>
        </dl>
    </div>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</p>
